/* File ini opsional karena kita sudah pakai CDN Tailwind di index.html 
  Tapi bagus untuk jaga-jaga jika kamu mau tambah style custom
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar untuk Webkit (Chrome/Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
